body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    transition: background-color 2s ease-in-out;
}

.info-batterie {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.indicateur-batterie {
    width: 100px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;
}

.niveau-batterie {
    height: 100%;
    background-color: #66BB6A; /* Vert différent du fond */
    width: 0%;
    transition: width 0.5s ease-in-out;
}

/* Style de l'interrupteur */
.interrupteur {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px; /* Espacement entre l'interrupteur et le titre */
}

.interrupteur input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Style pour l'import audio */
#import-audio {
    margin-top: 10px;
}

#audio-status {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

@media (max-width: 600px) {
    body {
        margin: 20px;
    }

    .info-batterie {
        font-size: 1.2em;
    }
}
